.accordion__button {
  margin-bottom: 20px;
  padding: 0;

  font-size: 15px;
  line-height: 1.07;
  font-weight: 400;
  font-family: $ff-roboto-condensed;
  color: $text-color-white;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.8px;

  background-color: transparent;
  border: none;

  @include vp-767 {
    margin-bottom: 0;
    padding: 20px 25px;
    width: 100%;
  }
}

.is-opened {
  @include vp-767 {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h15v1H0V0Z' fill='%23F8FDFF'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 90% center;
  }
}

.is-closed {
  @include vp-767 {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.96875 7.03125V0h-.9375v7.03125H0v.9375h7.03125V15h.9375V7.96875H15v-.9375H7.96875Z' fill='%23F8FDFF'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 90% center;
  }
}

.accordion__element {
  @include vp-767 {
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }

  &--navigation {
    width: 38.5%;
    box-sizing: border-box;

    @include vp-1023 {
      width: 100%;
    }
  }
}

.accordion__content {
  &--navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.4%;
    user-select: none;

    @include vp-1023 {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

.accordion__list {
  margin: 0;
  padding: 0;

  @include vp-767 {
    margin-top: -5px;
    padding: 0 25px;
  }
}

.accordion__item {
  margin-bottom: 10px;

  list-style: none;
  box-sizing: border-box;
}

.accordion__link {
  font-size: 16px;
  line-height: 135%;
  font-family: $ff-pt-mono;
  color: $text-color-white;
  opacity: 0.7;

  @include hover-focus {
    opacity: 0.8;
  }
}
