.about {
  padding: 60px 0 95px;

  @include vp-1023 {
    padding: 35px 0 81px;
  }

  @include vp-767 {
    padding: 22px 0 82px;
  }
}

.about__container {
  display: grid;
  grid-template-columns: 150px auto;
  column-gap: 100px;

  @include vp-1023 {
    column-gap: 25px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.about__decor {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;

  transform: rotate(-180deg);
  overflow: hidden;

  @include vp-767 {
    display: none;
  }
}

.about__decor span {
  margin-bottom: 10px;
  transform: translate(-15px, 10px);

  font-size: 156px;
  line-height: 1.41;
  font-weight: 700;
  color: transparent;

  writing-mode: vertical-rl;
  background-clip: text;
  user-select: none;

  background-image: url("../../img/about-bg.webp");

  @include retina {
    background-image: url("../../img/about-bg2x.webp");
  }

  @include vp-1023 {
    margin-bottom: 0;

    transform: translate(-15px, -10px);
  }
}

.about__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}

.about__info h3 {
  margin: 0;
  margin-bottom: 5px;

  font-size: 36px;
  line-height: 51px;
  font-weight: 400;

  @include vp-767 {
    margin-bottom: 3px;

    font-size: 28px;
    line-height: 1.4;
  }
}

.about__info p {
  margin: 10px 0;

  font-family: $ff-pt-mono;
  line-height: 1.37;

  @include vp-1023 {
    line-height: 1.33;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 1.34;
  }
}

.about__info span {
  @include vp-767 {
    display: none;
  }
}

.about__button {
  margin-top: 30px;
  padding: 13px;
  width: 180px;

  display: flex;
  justify-content: center;

  @include vp-1023 {
    margin-top: 10px;
  }

  @include vp-767 {
    margin-top: 0;
    padding: 8px;
    padding-bottom: 10px;
    width: 160px;
  }
}
