.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: 'Roboto Condensed';
  font-weight: 700;

  &--blue {
    background-color: $base-color-primary;
    color: $text-color-light;
  }

  &--light {
    background-color: $alice-blue;
    color: $text-color-alt;
    border: 1px solid $base-color-primary;
    border-radius: 3px;
  }

  &--dark {
    background-color: $base-color-dark;
    color: $text-color-light;
  }

  &--darker {
    background-color: $black-pearl;
    color: $text-color-white;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
