.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;

  font-family: $ff-roboto-condensed;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;

  &--primary {
    font-size: 18px;
    line-height: 1.17;
    color: $text-color-light;

    background-color: $base-color-primary;

    @include hover-focus {
      background-color: $base-color-primary-darker;
    }
  }

  &--light {
    color: $text-color-alt;

    background-color: $alice-blue;
    border: 1px solid $base-color-primary;
    border-radius: 3px;

    @include hover-focus {
      color: $text-color-light;

      background-color: $base-color-primary;
    }
  }

  &--dark {
    color: $text-color-light;

    background-color: $base-color-dark;

    @include hover-focus {
      color: $text-color-white;

      background-color: transparent;
      box-shadow: 0 0 0 1px $base-color-white inset;
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
