.connection {
  padding: 170px 0 250px;

  scroll-margin-top: 100px;

  background: $connection-gradient;

  @include vp-1023 {
    padding: 50px 0 125px;
    background: $base-color-primary;
  }

  @include vp-767 {
    padding: 50px 0 90px;
  }
}

.connection__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10%;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
  }
}

.connection__image {
  display: flex;
  align-items: center;
  justify-content: center;

  @include vp-1023 {
    display: none;
  }
}
