.connection {
  padding: 170px 0 250px;
  
  background-color: $base-color-primary;
  background: $connection-gradient;
}

.connection__container {
  display: grid;
  grid-template-columns: auto 580px;
  column-gap: 120px;
}

.connection__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
