.features {
  padding: 120px 0 60px;

  @include vp-1023 {
    padding: 80px 0 40px;
  }

  @include vp-767 {
    padding: 50px 0 25px;
  }
}

.features__list {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  list-style: none;

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.features__item {
  padding: 40px 45px 35px;

  list-style: none;

  box-shadow:
    inset 5px 0 0 0 $base-color-primary,
    inset 0 0 0 1px $whisper;
  box-sizing: border-box;
  outline: none;
  transition: 200ms;

  @include hover-focus {
    color: $text-color-light;

    background-color: $base-color-primary;
    box-shadow: none;
    border: none;

    & svg {
      fill: $text-color-light;
    }

    & h3 {
      color: $text-color-light;
    }
  }

  @include vp-767 {
    padding: 30px 30px 35px;
  }
}

.features__item svg {
  margin-bottom: 20px;

  fill: $base-color-primary;
}

.features__item h3 {
  margin: 0;
  margin-bottom: 15px;

  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: $text-color-alt;

  @include vp-767 {
    font-size: 20px;
    line-height: 140.62%;
  }
}

.features__item p {
  margin: 0;

  line-height: 135%;
  font-family: $ff-pt-mono;

  @include vp-767 {
    font-size: 14px;
    line-height: 135%;
  }
}
