.footer {
  padding-top: 56px;
  padding-bottom: 40px;

  background-color: $base-color-dark;
  box-sizing: border-box;

  @include vp-1023 {
    padding-top: 53px;
    padding-bottom: 55px;
  }

  @include vp-767 {
    padding-top: 0;
    padding-bottom: 35px;
  }
}

.footer__container {
  box-sizing: border-box;

  display: flex;
  column-gap: 2%;

  @include vp-1023 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 35px;
  }

  @include vp-767 {
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.footer__links {
  margin-right: auto;

  @include vp-1023 {
    margin-right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    grid-column: 1/-1;
  }

  @include vp-767 {
    padding: 35px 25px 24px;

    flex-direction: column;
    gap: 15px;

    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.footer__logo {
  margin-top: -5px;
  margin-bottom: 30px;
  display: block;

  @include vp-1023 {
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-top: 0;
  }
}
