.footer-info h2 {
  margin: 0;
  margin-bottom: 20px;

  grid-column: 1/-1;

  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  color: $text-color-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.footer-info__list {
  margin: 0;
  padding: 0;
}

.footer-info__item {
  margin-bottom: 10px;
  list-style: none;
  box-sizing: border-box;
}

.footer-info__link {
  font-family: 'PT Mono';
  font-size: 16px;
  line-height: 135%;
  color: $text-color-white;
  opacity: 0.7;
}
