.footer {
  padding-top: 50px;
  padding-bottom: 55px;

  background-color: $base-color-dark;
  box-sizing: border-box;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 48px;
  box-sizing: border-box;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 48px;
  box-sizing: border-box;
}
