.form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.form input,
.form textarea,
.form textarea::placeholder,
.form input::placeholder {
  font-family: $ff-pt-mono;
  line-height: 22px;
  color: $text-color-white;
}

.form input,
.form textarea {
  padding: 0;

  border: none;
  border-radius: 3px;
  background-color: $black-pearl-opacity;
}

.form input {
  padding: 15px;
}

.form textarea {
  padding: 25px 15px;
  min-height: 155px;

  grid-column: 1/-1;

  overflow: hidden;

  @include vp-1023 {
    padding: 30px 15px;
  }

  @include vp-767 {
    padding: 20px 15px;
    min-height: 180px;
  }
}

.form legend {
  margin: 0;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: $text-color-white;

  @include vp-1023 {
    margin-bottom: 5px;
  }

  @include vp-767 {
    margin-bottom: 7px;

    font-size: 30px;
    line-height: 1.4;
  }
}

.form p {
  margin: 0;
  margin-bottom: 35px;

  font-family: $ff-pt-mono;
  line-height: 22px;
  color: $text-color-white;

  @include vp-1023 {
    margin-bottom: 26px;
  }

  @include vp-767 {
    margin-bottom: 33px;

    font-size: 14px;
    line-height: 1.34;
  }
}

.form__inputs,
.form__submit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.form__submit {
  gap: 20px 50px;

  @include vp-1023 {
    gap: 20px 30px;
  }
}

.form__inputs {
  margin-bottom: 35px;

  gap: 20px 30px;

  @include vp-1023 {
    margin-bottom: 33px;
  }

  @include vp-767 {
    margin-bottom: 27px;

    gap: 20px;
  }
}

.form__button {
  padding: 15px;
  width: 100%;
  max-width: 265px;

  letter-spacing: 2px;

  @include vp-1023 {
    padding: 17px 15px 13px;
    max-width: 265px;
  }

  @include vp-767 {
    max-width: 100%;

    line-height: 1.19;
  }
}

.form__submit label {
  display: grid;
  grid-template-columns: 15px auto;
  gap: 11px;
  box-sizing: border-box;
  align-self: flex-end;

  cursor: pointer;

  @include hover-focus {
    opacity: 0.85;
  }
}

.form__submit label > input,
.form__submit label > span {
  align-self: center;
}

// дефолтный чекбокс
.form__checkbox {
  position: absolute;

  opacity: 0;
  z-index: -1;

  &:checked + .form__checkbox-mark {
    background: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.988525 2.33333L3.7778 5L7.96171 1' stroke='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
}

// кастомный чекбокс
.form__checkbox-mark {
  width: 15px;
  height: 15px;

  background-color: transparent;
  border: 1px solid $base-color-white;
  border-radius: 2px;
  box-sizing: border-box;
}

// текст к чекбоксу
.form__checkbox-name {
  font-family: $ff-pt-mono;
  font-size: 14px;
  line-height: 1.14;
  color: $text-color-white;
  opacity: 0.8;
}

// Форма модального окна

.form--modal legend {
  font-size: 30px;
  line-height: 1.4;
}

.form--modal p {
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 22px;
}

.form--modal .form__inputs {
  margin-bottom: 25px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form--modal .form__submit {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form--modal .form__button {
  @include vp-1023 {
    max-width: 100%;
  }

  @include vp-767 {
    max-width: 100%;
  }
}
