.header {
  margin-bottom: -120px;
  padding: 25px 0 35px;
  width: 100%;
  min-height: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  background: $header-gradient;

  position: sticky;
  top: 0;
  z-index: 100;

  @include vp-1023 {
    margin-bottom: -100px;
    padding: 20px 0 25px;
    min-height: 100px;
  }

  @include vp-767 {
    margin-bottom: -72px;
    padding: 12px 0 20px;
    min-height: 70px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;

  box-sizing: border-box;
  color: $base-color-light;
}

.header__info {
  width: 455px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  @include vp-1023 {
    margin-right: 20px;
    width: auto;
    max-width: 50%;
    align-self: flex-start;
  }

  @include vp-767 {
    margin-right: 10px;
  }
}

.header__info-link {
  padding: 0;

  display: flex;
  align-items: center;

  font-family: $ff-pt-mono;
  font-size: 16px;
  line-height: 1.12;
  color: $text-color-light;

  @include hover-focus {
    color: $text-color-white;

    & svg {
      fill: $base-color-primary-lighter;
    }
  }

  @include vp-1023 {
    padding: 10px;
  }
}

.header__info-link svg {
  margin-right: 15px;

  fill: $base-color-primary;

  @include vp-1023 {
    margin-right: 0;
  }
}

.header__info-link span {
  @include vp-1023 {
    display: none;
  }
}

.header__button {
  margin-right: 60px;
  padding: 10px;
  width: 160px;

  border: 1px solid $text-color-light;

  @include vp-1023 {
    display: none;
  }
}

.header__logo {
  margin-right: 5px;

  @include vp-1023 {
    margin-right: 0;
  }

  @include vp-767 {
    width: auto;
  }
}

.header__logo svg {
  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}
