.header {
  padding: 30px 0 35px;
  width: 100%;
  min-height: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  background: $header-gradient;

  position: fixed;
  z-index: 100;

  @include vp-1023 {
    padding: 20px 0 25px;
    min-height: 100px;
  }

  @include vp-767 {
    padding: 15px 0 20px;
    min-height: 70px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  box-sizing: border-box;
  color: $base-color-light;
}

.header__info {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  @include vp-1023 {
    width: auto;
    margin-right: 20px;
  }

  @include vp-767 {
    margin-right: 10px;
  }
}

.header__info-link {
  padding: 0;
  display: flex;
  align-items: center;

  font-family: 'PT Mono';
  line-height: 18px;
  color: $text-color-light;

  @include vp-1023 {
    padding: 10px;
  }
}

.header__info-link svg {
  margin-right: 15px;
  fill: $base-color-primary;

  @include vp-1023 {
    margin-right: 0;
  }
}

.header__info-link span {
  @include vp-1023 {
    display: none;
  }
}

.header__button {
  margin-right: 60px;
  padding: 10px 16px;
  width: 160px;

  font-size: 14px;
  line-height: 16px;

  border: 1px solid $text-color-light;

  @include vp-1023 {
    display: none;
  }
}

.header__logo {
  @include vp-767 {
    width: auto;
  }
}

.header__logo svg {
  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}
