.intro {
  padding: 305px 0 280px;
  min-height: 880px;

  background:
    $intro-gradient,
    url("../../img/main-prod.jpg") center/cover no-repeat,
    $base-color-dark;

  @include vp-1023 {
    min-height: 640px;
    padding: 180px 0 205px;
  }

  @include vp-767 {
    min-height: 560px;
    padding: 155px 0 190px;
  }
}

.intro__container {
  padding: 0 $base-indent;

  @include vp-767 {
    padding: 0 $alt-indent;
  }
}

.intro__info {
  margin: 0 auto;
  margin-left: 11%;

  @include vp-1023 {
    margin-left: 0;
  }
}

.intro__text h2 {
  margin: 0;
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $text-color-light;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 20px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 42px;
  }
}

.intro__text p {
  margin: 0;
  margin-bottom: 40px;

  font-family: $ff-pt-mono;
  font-size: 22px;
  line-height: 155%;
  color: $text-color-light;

  @include vp-1023 {
    margin-bottom: 50px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 155%;

    & > br {
      display: none;
    }
  }
}

.intro__link {
  max-width: 410px;
  padding: 15px 25px;

  font-size: 18px;
  line-height: 21px;

  @include vp-1023 {
    margin-left: 7%;
  }

  @include vp-767 {
    margin-left: 0;
    padding: 10px 30px;
    max-width: 270px;

    font-size: 14px;
    line-height: 16px;
  }
}

.intro__link span {
  &:first-child {
    @include vp-767 {
      display: none;
    }
  }

  &:last-child {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}
