.intro {
  padding: 305px 0 280px;
  min-height: 880px;

  background-color: $base-color-dark;
  background-image: $intro-gradient, url("../img/main-prod.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: $intro-gradient, url("../img/main-prod2x.webp");
  }

  @include vp-1023 {
    padding: 180px 0 205px;
    min-height: 640px;

    background-size: 1400px;
    background-position: 18% 48%;
  }

  // транзитная точка для bg
  @media (max-width: 1290px) {
    background-size: cover;
  }

  @include vp-767 {
    padding: 149px 0 190px;
    min-height: 560px;

    background-size: 1200px;
    background-position: 25% 55%;
  }
}

.intro__container {
  padding: 0 $base-indent;

  @include vp-767 {
    padding: 0 $alt-indent;
  }
}

.intro__info {
  margin: 0 auto;
  margin-left: 125px;

  @include vp-1023 {
    margin-left: 0;
  }
}

.intro__text h2 {
  margin: 0;
  margin-bottom: 31px;

  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 5.7px;
  text-transform: uppercase;
  color: $text-color-light;

  @include vp-1023 {
    margin-bottom: 0;

    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.6px;
  }

  @include vp-767 {
    margin-bottom: 10px;

    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 2.5px;
  }
}

.intro__text p {
  margin: 0;
  margin-bottom: 47px;

  font-family: $ff-pt-mono;
  font-size: 22px;
  line-height: 1.55;
  color: $text-color-light;

  @include vp-1023 {
    margin-bottom: 57px;
  }

  @include vp-767 {
    margin-bottom: 43px;

    font-size: 14px;
    line-height: 1.55;

    & > br {
      display: none;
    }
  }
}

.intro__link {
  width: 410px;
  padding: 17px;

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-767 {
    margin-left: 0;
    padding: 12px;
    width: 270px;

    font-size: 14px;
    line-height: 1.14;
  }
}

.intro__link span {
  &:first-child {
    @include vp-767 {
      display: none;
    }
  }

  &:last-child {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}
