.logo {
  width: 215px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo > svg {
  fill: $base-color-primary;
}

.logo__text {
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;

  &--header {
    @include vp-767 {
      display: none;
    }
  }
}

.logo__text svg {
  &:first-child {
    fill: $text-color-light;
  }

  &:last-child {
    fill: $text-color-white-opacity;
  }
}
