.products {
  padding: 70px 0 140px;
  user-select: none;

  background-color: $base-color-dark;

  @include vp-1023 {
    padding: 60px 0 75px;
  }

  @include vp-767 {
    padding: 50px 0 86px;
  }
}

.products h2 {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $text-color-white;

  & span:last-child {
    display: none;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 140.62%;

    & span:last-child {
      display: block;
      font-size: 28px;
      line-height: 140.62%;
    }

    & span:first-child {
      display: none;
    }
  }
}

.products__list {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 85px;
  box-sizing: border-box;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.products__link {
  padding: 50px 40px;

  min-height: 650px;
  height: 100%;
  width: 100%;

  display: inline-block;
  vertical-align: middle;
  position: relative;

  font-size: 20px;
  line-height: 30px;
  color: $text-color-white;
  transition: 0.2s;

  background:
    $products-gradient,
    url("../../img/main-prod.jpg") no-repeat,
    $base-color-dark;
  background-size: cover;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    bottom: 0;
    right: 0;
    border-top-left-radius: 1px;
    background:
      url("data:image/svg+xml,%3Csvg width='5' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.476196 8.80957 4.28572 5.00005.476196 1.19052' stroke='%23fff' stroke-linejoin='round'/%3E%3C/svg%3E"),
      $base-color-primary;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12.7%;
  }

  @include vp-1023 {
    padding: 40px 45px;
    min-height: 250px;
  }

  @include vp-767 {
    padding: 30px;
    min-height: 250px;

    font-size: 18px;
    line-height: 30px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  @include hover-focus {
    box-shadow: 0 0 30px 1px $base-color-primary-darker;

    &::before {
      background-color: $base-color-primary-darker;
    }
  }
}

.products__item:nth-child(1) .products__link {
  background-position: 15% 75%;
}

.products__item:nth-child(2) .products__link {
  background-position: 50% 75%;
}

.products__item:nth-child(3) .products__link {
  background-position: 85% 75%;
}
