.socials {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  max-width: 150px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include vp-1023 {
    gap: 15px;
    margin-left: 0;
  }
}

.socials__item {
  list-style: none;
}

.socials__link {
  width: 40px;
  height: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
