// Colors
$base-color-dark: #041827;
$base-color-dark-opacity: rgba($base-color-dark, 0.5);
$base-color-light: #e5e5e5;
$base-color-primary: #00b2ff;
$base-color-primary-lighter: #55ccff;
$base-color-primary-darker: #009adc;
$base-color-white: #ffffff;
// Text-colors
$text-color-light: #f2f5f6;
$text-color-dark: #041827;
$text-color-alt: #00b2ff;
$text-color-white: #ffffff;
$text-color-white-opacity: rgba(#ffffff, 0.7);
// Pallete
$black-pearl: #041427;
$black-pearl-opacity: rgba($black-pearl, 0.15);
$whisper: #ebebeb;
$alice-blue: #f8fdff;
$modal-bg: rgba(#03101b, 0.7);

// Gradients & shadows
$header-gradient: linear-gradient(180deg, $base-color-dark 84.9%, transparent 100%);
$intro-gradient: linear-gradient(180deg, rgba(#192024, 0.7) 71.72%, transparent 100%);
$connection-gradient: linear-gradient(139deg, #026593 34%, $base-color-primary 34%);

// Typography
$ff-pt-mono: "PT Mono", "Times New Roman", serif;
$ff-roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$ff-roboto: "Roboto", "Arial", sans-serif;

// Viewports
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1220: 1220px;

// Indents
$base-indent: 50px;
$alt-indent: 25px;

// Animation
$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600:                         0.6s $tf-default;

// Retina
$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
