// Colors
$base-color-dark: #041827;
$base-color-light: #E5E5E5;
$base-color-primary: #00B2FF;
$base-color-white: #FFFFFF;
// Text-colors
$text-color-light: #F2F5F6;
$text-color-dark: #041827;
$text-color-alt: #00B2FF;
$text-color-white: #FFFFFF;
// Pallete
$black-pearl: #041427;
$whisper: #EBEBEB;
$alice-blue: #F8FDFF;
$cerulean: #026593;
$primary-darker-1: rgba(4, 24, 39, 0.5);
$primary-darker-2: rgba(4, 20, 39, 0.15);

// Gradients
$intro-gradient: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
$products-gradient: linear-gradient($primary-darker-1, $primary-darker-1);
$connection-gradient: linear-gradient(139deg, $cerulean 34%, $base-color-primary 34%);

// Typography
$ff-pt-mono: "PT Mono", "Times New Roman", serif;
$ff-roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$ff-roboto: "Roboto", "Arial", sans-serif;

// Viewports
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1023px;
$desktop-width: 1024px;
